
<div class="container"> 

<h1>SAMPLE<%= @cupping.id%></h1>
 <%= form_for(@cupping) do |f| %>
  <fieldset>
    <div class="form-group">
       <label >ORIGIN</label>
       <%= f.text_field :origin, class: 'form-control', placeholder: 'ORIGIN'%>
    </div>


  <div class="form-group">
      <label >PROCESS</label>
       <%= f.text_field :process, class: 'form-control', placeholder: 'PROCESS'%>
    </div>


  <div class="form-group">
      <label >SHOP</label>
       <%= f.text_field :shop, class: 'form-control', placeholder: 'SHOP'%>
    </div>

    <div class="form-group">
      <label >MEMO</label>
      <%= f.text_area :memo, class:  'form-control',  placeholder: 'MEMO', rows: "5"%>    </div>

    <p class="lead">CLEAN CUP</p>
  <input class="d-inline" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="8" data-slider-step="1" data-slider-value="0"/>
  <script>
  var slider = new Slider('#ex1', {
  formatter: function(value) {
    return 'Current value: ' + value;
  }
  });
  </script>

    <div class="form-group">
      <label >COMENT</label>
      <%= f.text_area :flavor_coment, class:  'form-control',  placeholder: 'COMENT',rows: "5"%>
    </div>
    <%= f.submit class: 'btn btn-primary'%>
    <font style="vertical-align: inherit;"></font>
    <% end %>








