
<div class="container">
   <h1>NEW CUPPING</h1>
    <%= form_for(@cupping) do |f| %>
    <fieldset>
    <div class="beens-data">
      <div class="form-group">
       <%= f.select :country_id, @countries.map{|c| [c.name, c.id]}%>
      </div>
      <div class="form-group">
     	 <%= f.text_field :origin, class: 'form-control', placeholder: 'ORIGIN'%>
      </div>
      <div class="form-group">
     	 <%= f.text_field :process, class: 'form-control', placeholder: 'PROCESS'%>
      </div>
      <div class="form-group">
    	  <%= f.text_field :shop, class: 'form-control', placeholder: 'SHOP'%>
      </div>
      <div class="form-group">
    	 <%= f.text_area :memo, class:  'form-control',  placeholder: 'MEMO', rows: "5"%>
      </div>
    </div>

    <div class="range-data">

      <div class="form-group">
       <p class="lead">CLEAN CUP</p>
       <text id="crean_cup">0</text>
        <%= f.range_field :cren_cup, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"crean_cup_slider" %>
         <script >
           $("#crean_cup_slider").change(function () {                    
           var newValue = $('#crean_cup_slider').val();
            $("#crean_cup").html(newValue);
           });
        </script>
      </div>


      <div class="form-group">
      <p class="lead">SWEET</p>
       <text id="sweet">0</text>
  <%= f.range_field :sweet, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"sweet_slider" %>
   <script >
    $("#sweet_slider").change(function () {                    
   var newValue = $('#sweet_slider').val();
   $("#sweet").html(newValue);
    });
   </script>
 </div>

</div>






























 

 <div class="form-group" style="margin-top: 16px;">
   <%= f.text_area :flavor_coment, class:  'form-control',  placeholder: 'COMENT',rows: "5"%>
 </div>
   <%= f.submit class: 'btn btn-primary', data: { disable_with: "SAVE" } %>
    <font style="vertical-align: inherit;"></font>
   <% end %>

 </fieldset>
</div>







