
<div class="container">
 <h1>NEW CUPPING</h1>
 <%= form_for(@cupping) do |f| %>
  <fieldset>
    <div class="form-group">
    	 <%= f.text_field :origin, class: 'form-control', placeholder: 'ORIGIN'%>
    </div>


	<div class="form-group">
    	 <%= f.text_field :process, class: 'form-control', placeholder: 'PROCESS'%>
    </div>


	<div class="form-group">
    	 <%= f.text_field :shop, class: 'form-control', placeholder: 'SHOP'%>
    </div>

    <div class="form-group">
    	<%= f.text_area :memo, class:  'form-control',  placeholder: 'MEMO', rows: "5"%>
    </div>
<div class="container">

  <div class="form-group">
  <p class="lead">SWEET</p>
  <text id="sweet_point">0</text>
  <%= f.range_field :sweet_point, :min=>0, :max=>8, :class=>"slide", :id=>"sweet_point_slider"%>
   <script >
    $("#sweet_point_slider").change(function () {                    
   var newValue = $('#sweet_point_slider').val();
   $("#sweet_point").html(newValue);
});
   </script>
 </div>

</div>


 

 <div class="form-group" style="margin-top: 16px;">
   <%= f.text_area :flavor_coment, class:  'form-control',  placeholder: 'COMENT',rows: "5"%>
 </div>
   <%= f.submit class: 'btn btn-primary', data: { disable_with: "SAVE" } %>
    <font style="vertical-align: inherit;"></font>
   <% end %>

 </fieldset>
</div>







