<div class="container">
 <h1>NEW CUPPING</h1>
  <%= form_for(@cupping) do |f| %>
   <fieldset>
    
   <div class="beens-data">
     <div class="form-group">
      <label class="form-control" style="width: 464px; display: inline;">
       COUNTRY  
       <%= f.select :country_id, Country.all.map{|c| [c.name, c.id]}%>
      </label>
     </div>
     <div class="form-group">
     	 <%= f.text_field :origin, class: 'form-control', placeholder: 'ORIGIN'%>
     </div>
     <div class="form-group">
     	 <%= f.text_field :process, class: 'form-control', placeholder: 'PROCESS'%>
     </div>
     <div class="form-group">
      <%= f.text_field :shop, class: 'form-control', placeholder: 'SHOP'%>
     </div>
     <div class="form-group">
    	<%= f.text_area :memo, class:  'form-control',  placeholder: 'MEMO', rows: "5"%>
     </div>
   </div>

   <div class="slider-wrapper">
     <div class="form-group">
       <p class="lead">CLEAN CUP</p>
        <%= f.range_field :clean_cup, :min=>0, :max=>8, :class=>"slide",:value=>0, 
                          :id=>"clean_cup_slider",
                          :list=>"tickmarks",:step=>"0.5"%>
       <datalist id="tickmarks">
        <option value="0" >
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
        <option value="5">
        <option value="6">
        <option value="7">
        <option value="8">
       </datalist>                      
       <script >
         $("#clean_cup_slider").change(function () {                    
           var newValue = $('#clean_cup_slider').val();
         $("#clean_cup").html(newValue);
           });
       </script>
      <div class="point-counter">
        <text id="clean_cup" class="balloon3-left" >0</text>
      </div>
     </div>
    


     <div class="form-group">
       <p class="lead">SWEET</p>
        <%= f.range_field :sweet, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"sweet_slider",:list=>"tickmarks",
                    :step=>"0.5"%>
       <script >
        $("#sweet_slider").change(function () {                    
          var newValue = $('#sweet_slider').val();
        $("#sweet").html(newValue);
           });
       </script>
       <div class="point-counter">
        <text id="sweet" class="balloon3-left">0</text>
       </div>
      </div>
      

      <div class="form-group">
       <p class="lead">ACIDITY</p>
        <%= f.range_field :acidity, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"acidity_slider", :list=>"tickmarks",
                    :step=>"0.5"%>
       <script >
        $("#acidity_slider").change(function () {                    
          var newValue = $('#acidity_slider').val();
        $("#acidity").html(newValue);
           });
       </script>
       <div class="point-counter">
        <text id="acidity" class="balloon3-left">0</text>
       </div>
      </div>


      <div class="form-group">
       <p class="lead">MOUTH FEEL</p>
        <%= f.range_field :mouth_feel, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"mouth_feel_slider", :list=>"tickmarks",
                    :step=>"0.5" %>
       <script >
        $("#mouth_feel_slider").change(function () {                    
          var newValue = $('#mouth_feel_slider').val();
        $("#mouth_feel").html(newValue);
           });
       </script>
       <div class="point-counter">
        <text id="mouth_feel" class="balloon3-left">0</text>
       </div>
      </div>


      <div class="form-group">
       <p class="lead">FLAVOR</p>
        <%= f.range_field :flavor, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"flavor_slider", :list=>"tickmarks",
                    :step=>"0.5" %>
       <script >
        $("#flavor_slider").change(function () {                    
          var newValue = $('#flavor_slider').val();
        $("#flavor").html(newValue);
           });
       </script>
       <div class="point-counter">
        <text id="flavor" class="balloon3-left">0</text>
       </div>
      </div>



      <div class="form-group">
       <p class="lead" >AFTER TASTE</p>
        <%= f.range_field :after_taste, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"after_taste_slider", :list=>"tickmarks",
                    :step=>"0.5" %>
       <script >
        $("#after_taste_slider").change(function () {                    
          var newValue = $('#after_taste_slider').val();
        $("#after_taste").html(newValue);
           });
       </script>
       <div class="point-counter">
        <text id="after_taste" class="balloon3-left">0</text>
       </div>
      </div>



      <div class="form-group">
       <p class="lead">BALANCE</p>
        <%= f.range_field :balance, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"balance_slider", :list=>"tickmarks",
                    :step=>"0.5" %>
       <script >
        $("#balance_slider").change(function () {                    
          var newValue = $('#balance_slider').val();
        $("#balance").html(newValue);
           });
       </script>
       <div class="point-counter">
        <text id="balance" class="balloon3-left">0</text>
       </div>
      </div>

      <div class="form-group">
       <p class="lead">OVER ALL</p>
        <%= f.range_field :over_all, :min=>0, :max=>8, :class=>"slide",
                    :value=>0, :id=>"over_all_slider", :list=>"tickmarks",
                    :step=>"0.5" %>
       <script >
        $("#over_all_slider").change(function () {                    
          var newValue = $('#over_all_slider').val();
        $("#over_all").html(newValue);
           });
       </script>
       <div class="point-counter">
        <text id="over_all" class="balloon3-left">0</text>
       </div>
      </div>
   </div>
   
<div class="total-box">
       <text id="total_point">0</text>
    </div>
    <script>
      $(".slide").change(function (){
        var sum = 36;
            sum += Number($('#clean_cup_slider').val());
            sum += Number($('#sweet_slider').val());
            sum += Number($('#acidity_slider').val());
            sum += Number($('#mouth_feel_slider').val());
            sum += Number($('#flavor_slider').val());
            sum += Number($('#after_taste_slider').val());
            sum += Number($('#balance_slider').val());
            sum += Number($('#over_all_slider').val());
            $("#total_point").html(sum);
      });
    </script>

    <div class="form-group flavor-text" >
     <%= f.text_area :flavor_coment, class:  'form-control',  placeholder: 'COMENT',rows: "8"%>
    </div>
 </fieldset>

  <div class ="create-btn">
    <%= f.submit class: 'btn btn-primary', data: { disable_with: "SAVE" } %>
      <font style="vertical-align: inherit;"></font>
    </div>
    <% end %>
</div>








