<h1>SAMPLE<%= @cupping.id %></h1>

<h3>
  country / <%= @cupping.origin %><br>
  <small class="text-muted"><%= @cupping.process %></small><br>
  <small class="text-muted"><%= @cupping.shop %></small><br>
  <small class="text-muted"><%= @cupping.memo %></small><br>
</h3>

<h5><%= @cupping.flavor_coment%></h5>


