
<div class="container">
<h1>SAMPLE<%= @cupping.id %><br>
  <small class="text-muted"><%= @cupping. created_at%></small>
</h1>


<h3>
  <%= @cupping.origin %><br>

   <%= @cupping.country.name %><br>
   <%= Country.find(@cupping.coutry_id) .name %><br>
   
   
  <small class="text-muted"><%= @cupping.process %></small><br>
  <small class="text-muted"><%= @cupping.shop %></small><br>
  <small class="text-muted"><%= @cupping.memo %></small><br>
</h3>

<h5><%= @cupping.flavor_coment%></h5>




</div>


