<!DOCTYPE html>
<html>
  <head>
    <title>CuppingForm01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.3/bootstrap-slider.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.3/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

 <header>
  <div class="card border-secondary mb-3">
   <div class="card-header">
   <a href="/" class="new_file_btn">
    <i class="fas fa-file fa-2x"></i>  
   </a>

   <a href="/cuppings" class="mylist_btn">
    <i class="fas fa-coffee fa-2x"></i>
   </a>
   </div>
 </div>
 </header>
 





  <body>
   
    <%= yield %>


  </body>
<footer>
  <address>CUPPING_FORM&copy; 2018.K.Misaki </address>
</footer>


</html>

