<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no,minimal-ui">
       <title>CuppingForm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.3/bootstrap-slider.min.js">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.3/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <%= favicon_link_tag('/coffee.png') %>
    <link rel="apple-touch-startup-image" href="/coffee.png">                                                                             
    <link rel="apple-touch-icon-precomposed" href="/coffee.png" />
  </head>

<header>
  <div class="card border-secondary mb-3" style="margin:0!important;">
   <div class="card-header">
   <a href="/" class="new_file_btn">
    <i class="fas fa-plus-circle fa-2x"></i>  
   </a>
   <a href="/cuppings" class="mylist_btn">
    <i class="fas fa-coffee fa-2x"></i>
   </a>
   </div>
 </div>
<%= render partial: "layouts/flash_messages", flash: flash %>
 </header>
 





  <body>
    <div id="wrapper">
     <%= yield %>
   </div>
  </body>

  <footer>
   <address>CUPPING_FORM&copy; 2018.K.Misaki </address>
  </footer>

</html>

